$big-screen-breakpoint: 800px;

.label {
    text-align: left;
}

.item {
    display: flex;
    flex-direction: column;
    width: auto;
    @media screen and (min-width: $big-screen-breakpoint) {
        display: grid;
        width: 650px;
        grid-template-columns: auto 180px 80px;
    }
}

.operable {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
    @media screen and (min-width: $big-screen-breakpoint) {
        margin-bottom: 0;
    }
}

.dependent {
    margin-left: 20px;
}

.value {
    text-align: right;
}

input[type='range'] {
    width: 250px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    @media screen and (min-width: $big-screen-breakpoint) {
        width: auto;
    }
}

input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-moz-range-track {
    background: blue;
    height: 0.5rem;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
    background: red;
    border-radius: 0;
    border: 2px black solid;
}
