@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.GameOver {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.GameOver__wrapper {
    width: calc(3.5vmin * 20 + 0.4vmin * 19);
    height: calc(3.5vmin * 20 + 0.4vmin * 19);
}

.GameOver__again {
    padding: 1em;
}

.GameOver__title {
    text-shadow: 2px 2px #696969;
}

.GameOver__options {
    display: flex;
    flex-direction: column;
}