.gameOver {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: calc(3.5vmin * 20 + 0.4vmin * 19);
    height: calc(3.5vmin * 20 + 0.4vmin * 19);
}

.again, .settings {
    padding: 1em;
}

.title {
    text-shadow: 2px 2px #696969;
}

.options {
    display: flex;
    flex-direction: column;
}