.Menu {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    top: 5vmin;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Menu__options {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.Menu__credits {
    font-size: 8px;
}

.Menu__focused {
    color: red;
    cursor: pointer;
    transition: color .5s;
}