.statusBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.small {
    font-size: 0.5rem;
    text-align: right;
}
