@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    margin: auto;
}