body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./assets/background.jpg');
}

html {
    max-width: 70ch;
    padding: auto;
    line-height: 1.75;
}
